.flexBox {
    display: flex;
    align-items: center;
    place-content:center
}
.generalTexts{
    color: white;
    font-family: DosisLight;
}
.centeredTexts{
    color: white;
    font-family: DosisLight;
    text-align: center;
}
.layer{
    position: absolute;
}
.reset{
    width: 20rem;
    height: 7rem;
    background: black;
    border: 2px solid #4b001a;
    color: crimson;
}
.auto{
    width: 15rem;
    height: 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: black;
    border: 2px solid #340012;
    color: #bd1414;
}
#tubeButton{
    width: 30rem;
    height: 7rem;
    background: black;
    border: 2px solid #ce390b;
    color: #ce460b;
}
.tubeMilestone{
    margin-top: 0.5rem;
    color: darkgoldenrod;
    font-family: DosisLight;
}
.jButton{
    background-color: black;
    border: 2px solid #B14565;
    color: #B14565;
    width: 12rem;
    height: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
#slowdown{
    border: 2px solid darkgreen;
    background-color: black;
    color: #009f00;
    width: 30rem;
    height: 10rem;
    margin-top: 5rem;
}
#end{
    border: 0px solid white;
    background-color: black;
    color: #009696;
    width: 30rem;
    height: 10rem;
    margin-top: 5rem;
}
#reset{
    border: 2px solid #2f2f2f;
    background-color: black;
    color: dimgrey;
    width: 10rem;
    height: 5rem;
    margin-top: 15rem;
}
.tabButton{
    width: 10rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: black;
    border: 2px solid;
}
.settingsButton{
    width: 10rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    color: darkgray;
    background: black;
    border: 2px solid rgb(128, 128, 128);
}